#nav{
    width: 100%; 
    height: 70px; 
    background-color: white;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4565px rgba(0, 0, 0, 0.1);
}

.nav-logo{
    /* 
     sometimes air bnb logo will stretch entire width of the navbar 
     in safari 
    */
    max-width: 100px;
}