* , ::after, ::before{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html{
    font-size: 62.5%; 
}

body{
    font-family: "Poppins", sans-serif; 
}

/* apply for all sections  */
section{
    padding: 20px; 
}


/* REUSABLE CLASSES  */
.text--gray{
    color: #918E9B; 
}

.text--bold{
    font-weight: bold; 
}